@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-color-1: #2a475e;
  --gradient-color-2: #1b2838;
}

body {
  background: linear-gradient(var(--gradient-color-1), var(--gradient-color-2));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
